{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content_center %}
 <div id="login">
        <form name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>
    </div>
     <table>
    {% for q in  questions_trends  %}
    <tr>
        <td class="table_question_data">
            <div class="invisible">для растяжения блока</div>
        </td>
    </tr>
        <tr> <td class="table_question_data">
            <div class="invisible">для растяжения блока</div>
        </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}

{% block sidebar %}
{% if request.user.is_authenticated %}
    <p><button onclick="window.location.href = '{% url 'question_new' %}';">Ask!</button></p>
{% else %}
    <p><button onclick="window.location.href = '{% url 'login' %}';">Ask!</button></p>
{% endif %}
<h1> Trending </h1>
<table class="table_questions">
  {% for q in  questions_trends  %}
    <tr>
        <td class="table_question_data">
            <p><button onclick="window.location.href = '{% url 'question' pk=q.id %}';">{{ q.rating }}</button></p>
        </td>
        <td class="table_question_data">
            <p>{{ q.title }}</p>
        </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}