<!DOCTYPE html>
<html>
 <head>
	 <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>{% block title %}Django Auth Tutorial{% endblock %}</title>
	<link rel="stylesheet" href="/media/css/styles.css" type="text/css">
 </head>
 <body>
  <div class="container">
   <div id="header">
	   {% block content %} {% endblock %}
   </div>
   <div class="sidebar">
       {% block sidebar %} {% endblock %}
   </div>
   <div class="content">
       {% block content_center %} {% endblock %}
   </div>
<div class="footer">&copy; Otus</div>
</div>
</body>
</html>