{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">Log Out </a>  <a href="{% url 'user' pk=user.id %}">Your page </a></p>
{% else %}
  <p><a href="{% url 'login' %}">Log In</a> <button onclick="window.location.href = '{% url 'signup' %}';">Sign in</button></p>
{% endif %}

<form action="{% url 'home' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

{% for q in paginator.object_list %}
     <li class="list-group-item text-center">{{ q.title }}</li>
{% endfor %}

    <ul class="pagination">
    {% if paginator.has_previous %}
        <li>
            <span><a href="/home/{{ paginator.previous_page_number }}">Previous</a></span>
        </li>
    {% endif %}
        <li class="">
            <span>Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.</span>
        </li>
    {% if paginator.has_next %}
        <li>
            <span><a href="/home/{{ paginator.next_page_number }}">Next</a></span>
        </li>
    {% endif %}
    </ul>

{% endblock %}

{% block sidebar %}
{% if request.user.is_authenticated %}
    <p><button onclick="window.location.href = '{% url 'question_new' %}';">Ask!</button></p>
{% endif %}
 Trending
  Тут будут вопросы в тренде
  {% for q in  questions_trends  %}
    <li class="list-group-item text-center"><a href="{% url 'question' pk=q.id %}">{{ q.title }}</a></li>
{% endfor %}
{% endblock %}