{% extends 'base.html' %}

{% block title %}Create question{% endblock %}
{% block content %}
<table>
        <tr>
            <td class="table_column">
                <a id="logo" href="/"><img src="/media/images/logo.png" alt="Whitesquare logo"></a>
            </td>
            <td class="table_column">
            </td>
            <td class="table_column">
                {% if user.is_authenticated %}
                  <div class="login"><a href="{% url 'logout' %}">Log Out </a>  <a href="{% url 'user' pk=user.id %}">Your page </a></div>
                {% else %}
                  <div class="login"><a href="{% url 'login' %}">Log In</a> <button onclick="window.location.href = '{% url 'signup' %}';">Sign up</button></div>
                {% endif %}
            </td>
        </tr>
</table>
{% endblock %}

{% block content_center %}
    <table>
        <tr>
            <td>
                <h2 class="question">{{ question.title }}</h2>
            </td>
        </tr>
        <tr>
            <td>
                {% if user.is_authenticated %}
                    <form action="vote_for_question/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="{{ True }}"/>
                        <button class="button" type="submit" > + </button>
                    </form>
                    <h2 class="question">{{ question.rating }}</h2>
                    <form action="vote_for_question/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="{{ False }}" />
                        <button class="button" type="submit" > - </button>
                    </form>
                {% endif %}
            </td>
            <td>
                <div>{{ question.content }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="{% url 'home' tag=question.tag %}">{{ question.tag }}</a></p>
            </td>
            {% if q.tag2 %}
                <p><button onclick="window.location.href = '{% url 'home' tag=q.tag2 %}';">{{ question.tag2 }}</button></p>
            {% endif %}
            {% if q.tag3 %}
                <p><button onclick="window.location.href = '{% url 'home' tag=q.tag3 %}';">{{ question.tag3 }}</button></p>
            {% endif %}
            <td>
                <p><a href="{% url 'user' pk=question.author.pk %}">{{ question.author }}</a></p>
            </td>
            <td>
                <img src="{{ question.author.profile_pic.url }}" height=40 width=40>
            </td>
        </tr>
    </table>


    {% for answer in answers %}
        <table>
            <tr>
                <td>
                    <p>{{ answer.content }}</p>
                </td>
                <td>
                    <p>{{ answer.rating }}</p>
                </td>
            </tr>
            <tr>
                {% if answer.right %}
                    <td>
                        <p>Rigth answer</p>
                    </td>
                {% endif %}
                <td>
                    <p><a href="{% url 'user' pk=answer.author.pk %}">{{ answer.author }}</a></p>
                </td>
                <td>
                    <img src="{{ answer.author.profile_pic.url }}" height=40 width=40>
                </td>
            </tr>
            {% if user == question.author %}
            <a href="make_answer_right/{{ answer.id }}">
            <button> This question Right? </button>
            </a>
            {% endif %}
        </table>
    {% empty %}
    <p>Нет ответов</p>

    {% endfor %}
    {% if request.user.is_authenticated %}
        <p> Ваш ответ </p>
        <form action="" method="post"> {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Сохранить">
        </form>
    {% endif %}

<table>
    {% for q in  questions_trends  %}
    <tr>
        <td class="table_question_data">
            <div class="invisible">для растяжения блока</div>
        </td>
    </tr>
        <tr> <td class="table_question_data">
            <div class="invisible">для растяжения блока</div>
        </td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}


{% block sidebar %}
{% if request.user.is_authenticated %}
    <p><button onclick="window.location.href = '{% url 'question_new' %}';">Ask!</button></p>
{% else %}
    <p><button onclick="window.location.href = '{% url 'login' %}';">Ask!</button></p>
{% endif %}
<h1> Trending </h1>
<table class="table_questions">
  {% for q in  questions_trends  %}
    <tr>
        <td class="table_question_data">
            <p><button onclick="window.location.href = '{% url 'question' pk=q.id %}';">{{ q.rating }}</button></p>
        </td>
        <td class="table_question_data">
            <p>{{ q.title }}</p>
        </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}