{% extends 'base.html' %}

{% block title %}Create question{% endblock %}
{% block content %}
<table>
        <tr>
            <td class="table_column">
                <a id="logo" href="/"><img src="/media/images/logo.png" alt="Whitesquare logo"></a>
            </td>
            <td class="table_column">
            </td>
            <td class="table_column">
                {% if user.is_authenticated %}
                  <div class="login"><a href="{% url 'logout' %}">Log Out </a>  <a href="{% url 'user' pk=user.id %}">Your page </a></div>
                {% else %}
                  <div class="login"><a href="{% url 'login' %}">Log In</a> <button onclick="window.location.href = '{% url 'signup' %}';">Sign up</button></div>
                {% endif %}
            </td>
        </tr>
</table>
{% endblock %}

{% block content_center %}
    <h2>{{ question.title }}</h2>
    <p>{{ question.content }}</p>
    <p>{{ question.rating }}</p>
    {% if user.is_authenticated %}
        <form action="vote_for_question/" method="post">
            {% csrf_token %}
            <input type="hidden" name="vote" value="{{ True }}" />
            <input type="hidden" name="image" value="{{ post.id }}" />
            <button class="button" type="submit" > + </button>
        </form>
        <form action="vote_for_question/" method="post">
            {% csrf_token %}
            <input type="hidden" name="vote" value="{{ False }}" />
            <input type="hidden" name="image" value="{{ post.id }}" />
            <button class="button" type="submit" > - </button>
        </form>
    {% endif %}
    <p>{{ question.author }} <img src="{{ question.author.profile_pic.url }}" height=100 width=100><br></p>
    <p><a href="{% url 'home' tag=question.tag %}">{{ question.tag }}</a></p>
    {% for answer in answers %}
        <p>{{ answer.content }}</p>
        <p>{{ answer.date }}</p>
        <p>{{ answer.author }}</p>
        {% if user == question.author %}
        <a href="make_answer_right/{{ answer.id }}">
        <button> This question Right? </button>
        </a>
        {% endif %}
        <p>{{ answer.right }}</p>
    {% empty %}
    <p>Нет ответов</p>

    {% endfor %}
    {% if request.user.is_authenticated %}
        <p> Ваш ответ </p>
        <form action="" method="post"> {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Сохранить">
        </form>
    {% endif %}
{% endblock %}


{% block sidebar %}
{% if request.user.is_authenticated %}
    <p><button onclick="window.location.href = '{% url 'question_new' %}';">Ask!</button></p>
{% else %}
    <p><button onclick="window.location.href = '{% url 'login' %}';">Ask!</button></p>
{% endif %}
<h1> Trending </h1>
<table class="table_questions">
  {% for q in  questions_trends  %}
    <tr>
        <td class="table_question_data">
            <p><button onclick="window.location.href = '{% url 'question' pk=q.id %}';">{{ q.rating }}</button></p>
        </td>
        <td class="table_question_data">
            <p>{{ q.title }}</p>
        </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}