
body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
	height: 100%;
    overflow: hidden;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}

#wrapper {
	max-width: 100%;
	margin: auto;
}

#logo {
	float: left;
    max-width: 10vh;
    height: auto;
}


.search {
float: center;
}

li{list-style-position:inside;}


.container {
    width: 100vh; /* Ширина слоя */
    height: 90vh;
    margin: 0 auto; /* Выравнивнить весь блок по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
   }
   #header {
    font-size: 20px; /* Размер текста в шапке */
    text-align: center; /* Выравнивание текст шапки по центру */
    padding: 5px; /* Отступы внутри блока шапки */
    background: #8fa09b; /* Цвет фона шапки */
    color: #fff; /* Цвет текста */
    height: 10vh;
}
   .sidebar {
    width: 20%; /* Ширина блока */
    height: 80%;
    float: right; /* Обтекание блока по правому краю */
   }
   .content {
    width: 75%;
    height: 80%;
    background: #fff; /* Цвет фона правого блока */
   }
   .footer {
    width: 100vh;
    height: 10vh;
    background: #8fa09b; /* Цвет фона нижнего блока-подвала */
    color: #fff; /* Цвет текста подвала */
    margin:0 auto;
   }

.pagination {
    width: 80%;
}