{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<table>
        <tr>
            <td class="table_column">
                <a id="logo" href="{% url 'home' %}"><img src="/static/images/logo.png" alt="Whitesquare logo"></a>
            </td>
            <td class="table_column">
                <form name="search" action="/" method="get">
                    <div class="search">
                      <input type="search" placeholder="Search" name="q">
                      <input class="search_button"  type="submit" value="GO">
                    </div>
                </form>
            </td>
        </tr>
</table>
{% endblock %}

{% block user %}
<table>
    <tr>
        <td class="table_column">
                {% if user.is_authenticated %}
                        <img src="{{ user_avatar }}" height=35 width=35>
                  <div class="login"><a href="{% url 'logout' %}"><img src="/static/images/logout.png" alt="Whitesquare logo"></a>  <a href="{% url 'user' pk=user.pk %}">Your page </a></div>
                {% else %}
                  <div class="login"><a id="logout" href="{% url 'login' %}">Log In</a> <button onclick="window.location.href = '{% url 'signup' %}';">Sign up</button></div>
                {% endif %}
        </td>
    </tr>
</table>
{% endblock %}

{% block content_center %}
    <table class="table_questions">
         <tr>
             <td>
                <button onclick="window.location.href = '{% url 'home' pk=1 sort=1 %}';">New questions</button>
             </td>
             <td class="table_separator">
                <p class="separator">|</p>
             </td>
             <td>
                <button onclick="window.location.href = '{% url 'home' pk=1 sort=2 %}';">Hot questions</button></div>
             </td>
    </table>
    <table class="table_questions">
        {% for q in page_obj.object_list %}
            <tr>
                <td class="table_question_data">
                    <p>{{ q.rating }}</p>
                    <p>Votes</p>
                </td>
                <td class="table_question_data">
                    {% for k,v in answers.items %}
                        {% if k == q.pk %}
                        <p> {{ v }} </p>
                        {% endif %}
                    {% endfor %}
                    <p>Answers</p>
                </td>
                <td class="table_question_data">
                    <p><a href="{% url 'question' pk=q.id %}">{{ q.title }}</a></p>
                    {% if q.tags.all %}
                        {% for tag in q.tags.all %}
                            <p><button onclick="window.location.href = '{% url 'home' tag=tag %}';">{{ tag }}</button></p>
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="table_question_data">
                    <p><a href="{% url 'user' pk=q.author.pk %}">{{ q.author}}</a></p>
                    <p>asked {{ q.date}} </p>
                </td>
            </tr>
        {% endfor %}
    </table>


</div>
    <ul class="pagination">
    {% if page_obj.has_previous %}
        <li>
            <span><a href="{% url 'home' pk=page_obj.previous_page_number %}">Previous</a></span>
        </li>
    {% endif %}
        <li class="pagination">
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        </li>
    {% if page_obj.has_next %}
        <li class="pagination">
            <span><a href="{% url 'home' pk=page_obj.next_page_number %}">Next</a></span>
        </li>
    {% endif %}
    </ul>

{% endblock %}

{% block sidebar %}
{% if request.user.is_authenticated %}
    <p><button onclick="window.location.href = '{% url 'question_new' %}';">Ask!</button></p>
{% else %}
    <p><button onclick="window.location.href = '{% url 'login' %}';">Ask!</button></p>
{% endif %}
<h1> Trending </h1>
<table class="table_questions">
  {% for q in  questions_trends  %}
    <tr>
        <td class="table_question_data">
            <p><button onclick="window.location.href = '{% url 'question' pk=q.id %}';">{{ q.rating }}</button></p>
        </td>
        <td class="table_question_data">
            <p>{{ q.title }}</p>
        </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}