{% extends 'base.html' %}
{% block title %}Question list{% endblock %}

{% block content %}
<table>
        <tr>
            <td class="table_column">
                <a id="logo" href="/"><img src="/static/images/logo.png" alt="Whitesquare logo"></a>
            </td>
            <td class="table_column">
                <form name="search" action="#" method="get">
                    <div class="search">
                      <input type="search" placeholder="Search" name="q">
                      <input type="submit" value="GO">
                    </div>
                </form>
            </td>
            <td class="table_column">
                {% if user.is_authenticated %}
                  <div class="login"><a href="{% url 'logout' %}">Log Out </a>  <a href="{% url 'user' pk=user.id %}">Your page </a></div>
                {% else %}
                  <div class="login"><a href="{% url 'login' %}">Log In</a> <button onclick="window.location.href = '{% url 'signup' %}';">Sign up</button></div>
                {% endif %}
            </td>
        </tr>
</table>
{% endblock %}

{% block content_center %}
    {% for post in object_list %}
        <p>{{ post.datetime }}</p>
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
    {% empty %}
    <p>Нет вопросов</p>
    {% endfor %}

{% endblock %}